# Python
__pycache__/
*.pyc

# Virtual envs
.venv/
.env/

# Local config
.env*
*.env

# Outputs / data
#data/
outputs/*
!outputs/harmonic_raw_graphql_final.json

# Tools / IDE
.vscode/
.idea/

.utility_scripts/
.archive/